
  .h-50{
    height: 50px;
  }
  .h-46{
    height: 46px;
  }
  .m-r-2{
    margin-right: 2px;
  }
  .m-l-2{
    margin-left:12px;
  }
  .m-b-12{
    margin-bottom: 12px;
  }
  .pad-0-0{
    padding: 0 0 !important;
  }
  .pad-6-6{
    padding: 6 6 !important;
  }
  .flex{
    display: flex;
  }
  .flex-ali-cen{
    display: flex;
    align-items: center;
  }
  .form-border{
    overflow: hidden;
    border: 1px solid #EEE;
    background: #fff;
  }

  .layout-form-container{
    .ant-form-item{
      height: 100%;
      margin-bottom: 0 !important;
      &-label{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: #FAFAFA;
        text-align: right;
        width: 120px;
        border-right: 1px solid #eee;
        label {
          &::after{
            content: ''
          }
        }
      }
      &-control{
        justify-content: center;
        padding-left: 6px;
      }
    }
    .ant-col{
      align-items: center;
    }
  }